<header class="bar bar-nav sxy-header">
  <h1 class="title logo">FEMIAPP</h1>
  <h3 class="title slogan">TUS DIAS TU FUTURO</h3>
  <hr />
  <p>Esta herramienta sólo puede ser utilizada bajo prescripción médica.</p>
</header>
<div id="home" class="content sxy-content">
  <ul id="scroller" class="table-view sxy-table-view">
    <% _.each(products, function(p){ %>    
    <li class="table-view-cell media">
      <a class="navigate-right" href="#product/<%= p.id %>">
        <div class="media-body">
          <%= p.nombreGenerico %>
          <p><%= p.pastillaInyeccion %></p>
        </div>
      </a>
    </li>    
    <% }); %>
  </ul>
</div>
<nav class="bar bar-tab sxy-nav">          
  <div class="tab-item active" style="width: 30%;">
    <a class="" href="#home">            
      <span class="icon sxy-icon-productos"></span>
      <span class="tab-label">Planifica</span>            
    </a>
  </div>
  <div class="tab-item" style="width: 40%;">
    <a class="" href="#calendar">
      <span class="icon sxy-icon-planificacion"></span>
      <span class="tab-label">Calendario mestrual</span>
    </a>
  </div>
  <div class="tab-item" style="width: 30%;">
    <a class="" href="#help">
      <span class="icon sxy-icon-acerca"></span>
      <span class="tab-label">Ayuda</span>
    </a>
  </div>
</nav>        
<div class="sxy-border-top"></div>
<div class="sxy-border-bottom"></div>
<div class="sxy-border-left"></div>
<div class="sxy-border-right"></div>